<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.syncplicity.android.securegdfileeditor"
	android:versionCode="1"
	android:versionName="1.0.0.0" >
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.syncplicity.android.securegdfileeditor.GoodDynamicsLaunchActivity"
			android:alwaysRetainTaskState="true" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.syncplicity.android.securegdfileeditor.MainActivity"
			android:alwaysRetainTaskState="true" >
		</activity>
		<!-- Dedicated activity for receiving Inter-Container Communication intents -->
		<activity
			android:name=".IccReceivingActivity"
			android:alwaysRetainTaskState="true"
			android:exported="true" >
			<intent-filter>
				<action android:name="com.good.gd.intent.action.ACTION_ICC_COMMAND" />
			</intent-filter>
		</activity>
		<!-- Good Dynamics run-time internal activities and services -->
		<activity android:name="com.good.gd.ui.GDInternalActivity" >
		</activity>
		<service
			android:name="com.good.gd.service.GDService"
			android:enabled="true"
			android:exported="false" >
		</service>
		<activity
			android:name="com.good.gt.ndkproxy.icc.IccActivity"
			android:alwaysRetainTaskState="true"
			android:theme="@android:style/Theme.NoDisplay" >
			<intent-filter>
				<action android:name="com.good.gd.intent.action.ACTION_ICC_COMMAND" />
			</intent-filter>
		</activity>
		<service android:name="com.good.gt.ndkproxy.icc.IccManagerService" >
		</service>
	</application>
</manifest>